@mixin my-font-style($size,$color,$style,$weight){
  font-size:$size;
  color:$color;
  font-style:$style;
  font-weight:$weight;
}
div{
  @include my-font-style(24px,blue,italic,bold);
}
p{
  @include my-font-style(32px,red,normal,bold);
}
h1{
  @include  my-font-style(45px,yellow,italic,normal)
}
.my-rounded{
  border:1px solid red;
  border-radius: 5px;
}
.rounded-shadow{
  @extend .my-rounded;
  box-shadow:0 0 10px;
}
.my-border{
  border:1px solid transparent;
  width:400px;
  margin-left:20px;
}
.my-bottom-border{
  @extend .my-border;
  border-bottom-color:red;
  &:hover{
    border-bottom-color:blue;
  }
}
$my-width:5%;
$my-max-width:$my-width*2;
$other-size:$my-width+$my-max-width;
#d1{
  width:$other-size;
}
p{
  width:1in+8pt;
}
p:before{
  content:"Microsoft"+yahei;
  font-family:A+"rial";
}
p{
  font:10px/5px;
  $width:1000px;
  width:$width/2;
  height:(500px/2);
  margin-left:5px+8px/2px;
}
div:after{
  content:"I ate #{5+3} pies";
}
p{
  color:#010203+#040506;
}
$width1:10px;
$width2:20px;
p{
  width:($width1+$width2)*2;
  color:hsl(360,100%,50%);
}
$width:max(10,30,50,64,21);
div{
  width:$width/2+px;
}
@function get-width(){
  $max_width:40px;
  $min_width:10px;
  @return $max_width - $min_width;
}
header{
  width:get-width();
}
@function get_mywidth($n){
  $max_w1:60px;
  $min_w2:10px;
  @return $n*$max_w1 + ($n - 1)*$min_w2 ;
}
div{
  width:get_mywidth(20);
}
p{
  @if 1+1==2{
    border-radius:5px;
  }
  @if 5<3{
    border-radius:10px;
  }
  @if null{
    border-radius:15px;
  }
}
$type:m;
h2{
  @if $type==sun{
    color:yellow;
  }
  @else if $type==mars{
    color:red;
}
  @else if $type==moon{
    color:blue;
  }
  @else {
    color:black;
  }
}
@function my_count($n){
  @if $n>1{
    @return 200px;
  }
  @else if $n==1{
    @return 100px;
  }
  @else {
    @return 0;
  }
}
div{
  width:my_count(1);
}





